*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

.general{
    margin: 120px;
    margin-top: 0;
}

nav{
    height: 68px;
    display: flex;
}

.fondo{
    background-image: url(img/fondo.png);
    height: 652px;
    width: 1273px;
}

h2{
    font-size: 60px;
}

ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: black;
    gap: 30px;
    margin-top: 30px;
    margin-left: 680px;
}

a{
    text-decoration: none;
    list-style-type: none;
}

.tit{
    position: absolute;
    top: 300px;
    color: white;
    letter-spacing: 5px;
    margin-left: 30px;
}

.desc{
    width: 500px;
}

.der{
    position: absolute;
    margin-top: 405px;
    margin-left: 830px;
    transform: scale(0.72);
}

.dera{
    margin-left: 1105px;
    margin-top: 20px;
    position: absolute;
}

.botones{
    margin-top: 50px;
    height: 40px;
    display: flex;
    gap: 20px;
}

.solicitar,
.servicios{
    background-color: rgba(255, 255, 255, 0.77);
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: transform ease-in-out 0.2s;
    transition: background-color ease-in-out 0.2s;
}

.solicitar:hover,
.servicios:hover{
    transform: scale(1.1);
    background-color: white;
}

.solicitar h3,
.servicios h3{
    padding: 10px;
}


